<div>
    <h3>
        Form / details
    </h3>
</div>

<hr>

<br>

<div>
    <form>

        <div>
            <label>First Name</label>
            <input formControlName="firstName" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Last Name</label>
            <input formControlName="lastName" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Address First Line</label>
            <input formControlName="addressFirstLine" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Address Second Line</label>
            <input formControlName="addressSecondLine" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>City or Town</label>
            <input formControlName="cityOrTown" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>County</label>
            <input formControlName="county" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Post Code</label>
            <input formControlName="postCode" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Email Address</label>
            <input formControlName="email" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Date of Birth</label>
            <input formControlName="dateOfBirth" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>

        <div>
            <label>Telephone</label>
            <input formControlName="telephone" 
                class="border-solid 
                        border-2 
                        border-sky-500
                        ml-2">
        </div>


    </form>
</div>
<br>
<div>

    <span>
        <button class="border-solid border-2 border-black ml-2">
            <p class="ml-1 mr-1 mu-1 md-1">Go</p>
        </button>
    </span>

</div>
<br>