.hrLine{
    color: black;
}
.centre{
    text-align: center;
}
.margin{
    margin-left: 20%;
}
.centreTable{
    margin-left: auto;
    margin-right: auto;
}
.red {
    color: red;
}
.green {
    color: green
}