<div class="bg-gray-300">
    <h3>
        Form / details
    </h3>
</div>

<hr class="hrLine">



<div class="bg-gray-300">
    <br>

        <div>
            <label>First Name</label>
            <input [(ngModel)]="contact.firstName" 
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Last Name</label>
            <input [(ngModel)]="contact.lastName"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Address First Line</label>
            <input [(ngModel)]="contact.addressFirstLine"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Address Second Line</label>
            <input [(ngModel)]="contact.addressSecondLine"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>City or Town</label>
            <input [(ngModel)]="contact.cityOrTown"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>County</label>
            <input [(ngModel)]="contact.county"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Post Code</label>
            <input [(ngModel)]="contact.postCode"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Email Address</label>
            <input [(ngModel)]="contact.email"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Date of Birth</label>
            <input [(ngModel)]="contact.dateOfBirth"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>

        <div>
            <label>Telephone</label>
            <input [(ngModel)]="contact.telephone"
                class="border-solid 
                        border-2 
                        border-black
                        ml-2">
        </div>


    
</div>
<div class="bg-gray-300">

    <br>

    <span>
        <button class="border-solid
                        border-2 
                        border-black
                        bg-green-600
                        ml-2" (click)="goButtonClicked()">
            <p class="ml-1 mr-1 mu-1 md-1">Go</p>
        </button>
    </span>

    

</div>
<div class="bg-gray-300">
    <br>
</div>
