<div class="componentBorder">
  <app-header></app-header>
</div>


<div class="flex flex-row">
  <div class="contactList bg-gray-400">

    <div class="bg-gray-400 centre">
      <br>
      <span>
        <h3 class="align-middle">
          <span class="text-3xl">
            Contact List
            <i class="fa-regular fa-rectangle-list"></i>
          </span>

          <button class="w-40 border-2 border-black ml-2 bg-amber-400"
           (click)="saveContactList()">
            Save Contact List
          </button>
          <button class="w-40 border-2 border-black ml-2 bg-amber-400"
          (click)="clearSavedJobs()">
            Clear Saved Contacts
          </button>
        </h3>

      </span>

      <br>
    </div>

    <div *ngIf="contactList">
      <div *ngFor="let contactDetails of contactList">
        <app-contact-list [contact]="contactDetails"
         [showFunctions]="true"
         >
        </app-contact-list>
      </div>
    </div>


  </div>
  <div class="form bg-gray-300">
    <!-- <app-form (contactEntered)="contactEntered($event)"></app-form> -->
    <app-form></app-form>
  </div>
</div>




<


