.contactList {
    width: 40%;
    /* border-color: black;
    border-width: 2px; */
}
.form {
    width: 60%;
    /* border-color: black;
    border-width: 2px; */
}
.centre{
    text-align: center;
}